body	{
	background-color: #B6B4B3;
}

header	{
		text-align: center;
}

h1	{
	color: #414042;
	text-shadow: 1px 1px 2px #444;
}

#menus	{
	position: absolute;
	width: 100%;

}

#main	{
	position: relative;
	top: 25px;
	width: 100%;
}

.circle	{	
	border-width: 5px;	
	border-style: solid;
	height: 300px;
	width: 300px;
	border-radius: 155px;
	position: relative;
	float: left;
	border-color: #555;
}

#printedlabel	{
	color: #414042;
	font-size: 1.2em;
	top: 140px;
	left: 71px;
}

.circlemenu	{
	position: relative;
	float: left;
	margin: 0 10px 0 10px;
	border: solid 2px #555;
}

ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 14.5em;
	text-align: center;

}

li 	{
	display: inline;
	padding: 0 10px;
}

.relabel	{
	position: static;
	top: 10px;
}


.circle-0	{
	background-color: rgba(65, 64, 66, .4);	
}

.circle-1	{
	background-color: rgba(54, 61, 29, .4);
}

.circle-2	{
	background-color: rgba(64, 56, 31, .4);
}

.circle-3	{
	background-color: rgba(32, 21, 43, .4);
}

.circle-4	{
	background-color: rgba(21, 26, 43, .4);
}

.cnav-0	{
	background-color: rgba(65, 64, 66, .4);	
}

.cnav-1	{
	background-color: rgba(54, 61, 29, .4);
}

.cnav-2	{
	background-color: rgba(64, 56, 31, .4);
}

.cnav-3	{
	background-color: rgba(32, 21, 43, .4);
}

.cnav-4	{
	background-color: rgba(21, 26, 43, .4);
}